.product
  width: 100%
  max-width: 800px
  overflow: hidden
  margin: 0 auto
  display: flex
  &__image
    width: 50%
    padding-right: 10px
    position: relative
    img
      display: block
      max-width: 100%
      height: auto
  &__desc
    width: 50%
    padding-left: 10px
    padding-top: 50px
    color: #999
  &__color
    display: inline-block
    width: 20px
    height: 20px
    margin: 0 5px
  &__cartadd
    display: inline-block
    font-size: 1.2em
    line-height: 3em
    border-radius: 5px
    background-color: #0FB264
    color: #fff
    padding: 0 1em
    cursor: pointer
    transition: background-color .25s
    &:hover
      background-color: darken(#0FB264, 10%)