<div class="product__loader" *ngIf="!(product | async)">LOADING PRODUCT</div>
<div class="product" *ngIf="(product | async)">
  <div class="product__image">
    <img *ngIf="(product | async)?.img" src="assets/img/{{ (product | async)?.img }}" alt="">
  </div>
  <div class="product__desc">
    <h2>{{ (product | async)?.name | uppercase }}</h2>
    <p>{{ (product | async)?.price | currency:'EUR':true }}</p>
    <p>Available colors: <span class="product__color" *ngFor="let color of (product | async)?.colors" [ngStyle]="{backgroundColor: color}"></span></p>
    <a *ngIf="!incart" class="product__cartadd" (click)="onAddToCart()">Add to cart</a>
    <span *ngIf="incart">Prekė krepšelyje</span>
  </div>
</div>