.hdr
  width: 100%
  height: 60px
  background-color: #f1f1f1
  &__back
    display: block
    position: relative
    width: 80px
    height: 60px
    float: left
    cursor: pointer
    animation: zoomIn 1s 1
    &:hover
      &:before
        border-color: #999
      &:after
        background-color: #999
    &:before, &:after
      content: ""
      display: block
      position: absolute
      transition: background-color .25s, border-color .25s
    &:before
      width: 20px
      height: 20px
      border-left: 3px solid #c3c3c3
      border-bottom: 3px solid #c3c3c3
      left: 10px
      top: 50%
      transform: translateY(-50%) rotate(45deg)
    &:after
      width: 30px
      height: 3px
      background-color: #c3c3c3
      top: 50%
      transform: translateY(-50%)
      left: 10px
  &__cart
    display: block
    width: 80px
    height: 60px
    padding-top: 10px
    position: relative
    float: right
    span
      width: 15px
      height: 15px
      display: block
      position: absolute
      right: 10px
      top: 10px
      border-radius: 50%
      background-color: red
      line-height: 15px
      font-size: 12px
      text-align: center
      color: #fff
    &:hover
      svg
        fill: #999
    svg
      display: block
      margin: 0 auto
      height: 40px
      width: auto
      fill: #c3c3c3
      transition: fill .25s

@keyframes zoomIn 
  from 
    opacity: 0
    trnsform: scale3d(.3, .3, .3)
  50% 
    opacity: 1
