<header class="hdr">
  <div class="container">
    <span *ngIf="currentRoute !== '/'" class="hdr__back" (click)="goBack()"></span>
    <a class="hdr__cart" [routerLink]="['/cart']">
      <svg version="1.1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 512 512"> <g id="g2991" transform="matrix(1,0,0,-1,68.338983,1209.4915)"> <path id="path2993" inkscape:connector-curvature="0" d="M128.584,776.261c0-10.872-3.846-20.154-11.538-27.846 c-7.692-7.692-16.974-11.538-27.846-11.538s-20.154,3.846-27.846,11.538c-7.692,7.692-11.538,16.974-11.538,27.846 c0,10.872,3.846,20.154,11.538,27.846c7.692,7.692,16.974,11.539,27.846,11.539s20.154-3.846,27.846-11.539 C124.738,796.415,128.584,787.133,128.584,776.261z M404.276,776.261c0-10.872-3.846-20.154-11.538-27.846 c-7.692-7.692-16.974-11.538-27.846-11.538s-20.154,3.846-27.846,11.538c-7.692,7.692-11.538,16.974-11.538,27.846 c0,10.872,3.846,20.154,11.538,27.846c7.692,7.692,16.974,11.539,27.846,11.539s20.154-3.846,27.846-11.539 C400.43,796.415,404.276,787.133,404.276,776.261z M443.661,1111.03V953.491c0-4.923-1.641-9.282-4.923-13.077 s-7.487-6-12.615-6.615l-321.231-37.538c0.205-1.436,0.667-3.641,1.385-6.615c0.718-2.974,1.333-5.692,1.846-8.154 c0.513-2.462,0.769-4.718,0.769-6.769c0-3.282-2.462-9.846-7.385-19.692h283.077c5.333,0,9.949-1.949,13.846-5.846 c3.897-3.897,5.846-8.513,5.846-13.846c0-5.333-1.949-9.949-5.846-13.846c-3.897-3.897-8.513-5.846-13.846-5.846H69.507 c-5.333,0-9.949,1.949-13.846,5.846s-5.846,8.513-5.846,13.846c0,2.872,1.128,6.923,3.385,12.154 c2.256,5.231,5.282,11.333,9.077,18.308s5.897,10.872,6.308,11.692l-54.462,253.231h-62.769c-5.333,0-9.949,1.949-13.846,5.846 s-5.846,8.513-5.846,13.846s1.949,9.949,5.846,13.846c3.897,3.897,8.513,5.846,13.846,5.846h78.769c3.282,0,6.205-0.667,8.769-2 s4.615-2.923,6.154-4.769c1.538-1.846,2.872-4.359,4-7.538c1.128-3.18,1.897-5.897,2.308-8.154c0.41-2.256,0.974-5.282,1.692-9.077 c0.718-3.795,1.179-6.41,1.385-7.846h369.538c5.333,0,9.949-1.949,13.846-5.846C441.712,1120.979,443.661,1116.363,443.661,1111.03 z"/> </g> </svg>
      <span>{{count}}</span>
    </a>
  </div>
</header>
