.product__itm
  display: block
  position: relative
  text-decoration: none
  color: #a3a3a3
  border: 1px solid #d2d2d2
  transition: box-shadow .4s
  height: 100%
  padding-bottom: 20px
  &:hover
    box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.2)
    .product__itm-img
      background-size: 100%
  h3
    padding: 1em 1.5em
    font-size: 0.8em
    font-weight: 300
    text-align: center
    @media (min-width: 1230px)
      font-size: 1em
  p
    font-size: 0.8em
    padding: 0.5em 1.5em
    text-align: right
    display: block
    position: absolute
    bottom: 0
    width: 100%
  &-img
    display: block
    max-width: 100%
    height: 200px
    background-size: 70%
    background-repeat: no-repeat
    background-position: center center
    margin-bottom: 20px
    transition: background-size .25s
    will-change: background-size