<a [routerLink]="['/item', p.id]" class="product__itm">

  <div class="product__itm-img" [ngStyle]="{'background-image': 'url(assets/img/' + p.img + ')'}"></div>
  <div class="product__itm-content">
    <div class="product__itm-colors"><span *ngFor="let color of p.colors" [style.backgroundColor]="color"></span></div>
    <h3>{{p.name | uppercase}}</h3>
    <p>{{p.price | currency:'EUR':true }}</p>
  </div>

</a>