<div *ngIf="cartItems.length < 1">Cart is empty</div>
<div *ngIf="cartItems.length > 0">
  <div class="cart__itm" *ngFor="let cartItem of cartItems">
    <div class="cart__itm-image">
      <img src="assets/img/{{cartItem.img}}" alt="">
    </div>
    <div class="cart__itm-content">
      <h2>{{ cartItem.name | uppercase }}</h2>
      <span>{{ cartItem.price | currency:'EUR':true }}</span>
      <a class="cart__itm-remove" (click)="removeItem(cartItem)">REMOVE</a>
    </div>
  </div>
</div>
