.cart
  &__itm
    width: 100%
    height: 200px
    overflow: hidden
    border-bottom: 1px solid #c3c3c3
    &-content
      width: calc(100% - 200px)
      float: left
      padding: 30px 20px
      h2
        font-size: 1.4em
        font-weight: 300
        color: #999
        margin: 0
        margin-bottom: 15px
      span
        font-size: 1em
        font-weight: 300
        margin-bottom: 15px
        color: #666
        display: block
    &-image
      width: 200px
      float: left
      img
        display: block
        max-width: 100%
        max-height: 100%
    &-remove
      font-weight: 700
      font-size: 0.8em
      cursor: pointer
      color: red