<div class="filter">
  <h5>Filter by color: </h5>
  <span class="filter__itm" style="background-color: red" (click)="filterList('red')"></span>
  <span class="filter__itm" style="background-color: green" (click)="filterList('green')"></span>
  <span class="filter__itm" style="background-color: blue" (click)="filterList('blue')"></span>
  <span class="filter__clear" (click)="filterList('')">Clear <span>&times;</span></span>
</div>
