.filter
  width: 100%
  height: 60px
  padding: 20px 10px
  &__itm
    width: 20px
    height: 20px
    display: inline-block
    cursor: pointer
    float: left
    margin-right: 5px
  &__clear
    cursor: pointer
    display: inline-block
    color: #c3c3c3
    line-height: 20px
    float: left
    padding: 0 10px
    span
      color: red
      font-size: 1.2em
      float: right
      padding: 0 3px
  h5
    display: inline-block
    margin: 0
    font-size: 1em
    font-weight: 300
    margin-right: 1em
    line-height: 20px
    float: left