.products
  display: flex
  flex-direction: row
  flex-wrap: wrap
  align-items: stretch
  &__loading
    width: 320px
    height: 320px
    line-height: 320px
    font-size: 50px
    text-align: center
    color: #c3c3c3
    font-weight: 100
    margin: 0 auto
    animation: pulse 0.4s infinite
  &__itm
    display: block
    width: 100%
    padding: 10px
    @media (min-width: 768px)
      width: 50%
    @media (min-width: 1024px)
      width: 33.333%
    @media (min-width: 1230px)
      width: 25%
@keyframes pulse
  from
    transform: scale3d(1, 1, 1)
  50%
    transform: scale3d(1.05, 1.05, 1.05)
  to
    transform: scale3d(1, 1, 1)

