<app-filter (filter)="filter($event)"></app-filter>
<div class="products">
  <div class="products__loading" *ngIf="showLoader">LOADING</div>
  <app-item [@enterAnimation]="!showLoader" class="products__itm" *ngFor="let p of products | async | filter:filterString" [p]="p"></app-item>
</div>
