/* You can add global styles to this file, and also import other style files */
*
  box-sizing: border-box
body
  font-family: 'Roboto', sans-serif
  font-size: 16px
  margin: 0
  padding: 0
.container
  display: block
  width: 100%
  max-width: 320px
  margin: 0 auto
  overflow: hidden
  @media (min-width: 768px)
    max-width: 768px
  @media (min-width: 1230px)
    max-width: 1230px